<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Apartment Rental{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/base.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('apartment_rental_template') }}">Home</a>
            {% if current_user.is_authenticated %}
                <p>Welcome, {{ current_user.username }}</p>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>
    </header>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
